.para{
    color: blueviolet;
}
.name{
    color: brown;
}
.gcloud{
    background-color: crimson;
}
.Linkdin{
    background-color:darksalmon;
}
.Github{
    background-color: darkgray;
}
.profile{
    color:coral;
}
.about{
    color: darkgoldenrod;
}